html {
  font-size: 10px;
  line-height: 10px; }

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }

i {
  font-style: inherit; }

button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.arca {
  position: relative;
  background-color: #77be75; }
  .arca .blind_tit {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    white-space: nowrap;
    overflow: hidden; }

.arca .nav_wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100px;
  -webkit-border-top-right-radius: 25px;
     -moz-border-radius-topright: 25px;
          border-top-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
     -moz-border-radius-topleft: 25px;
          border-top-left-radius: 25px;
  height: 100px;
  z-index: 100;
  background-color: #e4eee9;
  -webkit-transition: bottom 0.5s ease-out;
  -moz-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out; }
  .arca .nav_wrap.is_opened {
    bottom: 0; }
    .arca .nav_wrap.is_opened + .dimmed_layer {
      display: block; }
    .arca .nav_wrap.is_opened .nav_btn.is_expanded .btn_txt {
      margin-top: -2px; }
  .arca .nav_wrap .nav_btn {
    position: absolute;
    left: 50%;
    top: -9px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80px;
    height: 30px;
    border: 0;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 3px 1px #d3d3d3;
       -moz-box-shadow: 0 0 3px 1px #d3d3d3;
            box-shadow: 0 0 3px 1px #d3d3d3;
    -webkit-transition: top 0.8s ease-in-out;
    -moz-transition: top 0.8s ease-in-out;
    transition: top 0.8s ease-in-out; }
    .arca .nav_wrap .nav_btn .btn_txt {
      font-size: 1rem;
      line-height: 12px;
      font-weight: 400;
      color: #f1f1f1;
      font-family: 'DoHyeon', 'NotoSansKR', sans-serif;
      word-wrap: break-word; }
    .arca .nav_wrap .nav_btn:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      background-color: #609c7f;
      -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
      -webkit-transition: all 0.7s ease-out;
      -moz-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out; }
    .arca .nav_wrap .nav_btn.is_expanded {
      color: #fff;
      top: -19px; }
      .arca .nav_wrap .nav_btn.is_expanded .btn_txt {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: -4px; }
      .arca .nav_wrap .nav_btn.is_expanded:before {
        height: 100%; }
      .arca .nav_wrap .nav_btn.is_expanded:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 7px;
           -moz-border-radius: 7px;
                border-radius: 7px; }
  .arca .nav_wrap .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 0;
    -webkit-border-top-right-radius: 20px;
       -moz-border-radius-topright: 20px;
            border-top-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
       -moz-border-radius-topleft: 20px;
            border-top-left-radius: 20px;
    background-color: #fff;
    z-index: 200; }
  .arca .nav_wrap .profile_area .thumb_wrap {
    position: relative;
    float: left;
    margin: 5px; }
    .arca .nav_wrap .profile_area .thumb_wrap:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .arca .nav_wrap .profile_area .thumb {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%; }
  .arca .nav_wrap .profile_area .profile_info {
    padding: 5px 10px 5px 5px;
    overflow: hidden;
    font-size: 1.8rem;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .arca .nav_wrap .profile_area:after {
    content: '';
    display: block;
    clear: both; }
  .arca .nav_wrap .main_tab_list {
    position: relative;
    overflow: hidden;
    height: 100%; }
    .arca .nav_wrap .main_tab_list .tab_item {
      position: absolute;
      top: 45px;
      bottom: 0;
      left: 50%;
      padding: 5px;
      width: 45%;
      line-height: 3rem; }
      .arca .nav_wrap .main_tab_list .tab_item .tab_txt {
        color: #fff;
        font-size: 1.8rem; }
      .arca .nav_wrap .main_tab_list .tab_item[name=arca_tab] {
        background-color: red; }
      .arca .nav_wrap .main_tab_list .tab_item[name=kow_tab] {
        background-color: blue; }
      .arca .nav_wrap .main_tab_list .tab_item[name=mff_tab] {
        background-color: green; }
      .arca .nav_wrap .main_tab_list .tab_item.is_top {
        z-index: 400;
        -webkit-transform: translate(-50%, -50%) perspective(400px);
           -moz-transform: translate(-50%, -50%) perspective(400px);
                transform: translate(-50%, -50%) perspective(400px); }
      .arca .nav_wrap .main_tab_list .tab_item.is_left {
        z-index: 399;
        -webkit-transform-origin: right;
           -moz-transform-origin: right;
            -ms-transform-origin: right;
                transform-origin: right;
        -webkit-transform: translate(-150%, -50%) perspective(400px) rotateY(-45deg);
           -moz-transform: translate(-150%, -50%) perspective(400px) rotateY(-45deg);
                transform: translate(-150%, -50%) perspective(400px) rotateY(-45deg); }
      .arca .nav_wrap .main_tab_list .tab_item.is_right {
        z-index: 399;
        -webkit-transform-origin: left;
           -moz-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
        -webkit-transform: translate(50%, -50%) perspective(400px) rotateY(45deg);
           -moz-transform: translate(50%, -50%) perspective(400px) rotateY(45deg);
                transform: translate(50%, -50%) perspective(400px) rotateY(45deg); }
  .arca .nav_wrap:after {
    content: '';
    display: block;
    clear: both; }

.main_wrap .alliance_name {
  font-size: 2rem;
  line-height: 4.8rem;
  font-weight: 500;
  color: #6c8057;
  text-align: center; }

.main_wrap .content_bx {
  position: relative;
  margin-top: 3px;
  background-color: #fff; }
  .main_wrap .content_bx:first-child {
    margin-top: 0; }

.main_wrap .info_wrap {
  padding: 0 10px; }
  .main_wrap .info_wrap .info_flick {
    margin: 0 -10px;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    line-height: 3rem; }
    .main_wrap .info_wrap .info_flick::-webkit-scrollbar {
      width: 0px; }
  .main_wrap .info_wrap .info {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: 400;
    color: #a3cca3;
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px;
    background-color: #d8f7dd;
    -webkit-animation: fadein 1s linear;
       -moz-animation: fadein 1s linear;
            animation: fadein 1s linear;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
            animation-fill-mode: both; }
    .main_wrap .info_wrap .info + .info {
      margin-left: 10px; }
    .main_wrap .info_wrap .info:first-child {
      margin-left: 10px; }
    .main_wrap .info_wrap .info:last-child {
      margin-right: 10px; }
    .main_wrap .info_wrap .info .info_label {
      float: left;
      padding: 0 10px;
      color: #f7faf4;
      background-color: #a3cca3;
      -webkit-border-radius: 16px;
         -moz-border-radius: 16px;
              border-radius: 16px; }
    .main_wrap .info_wrap .info .val {
      margin-left: 5px;
      padding-right: 10px; }
    .main_wrap .info_wrap .info.info_hidden .val {
      -webkit-animation: info_fadeout 1.2s;
         -moz-animation: info_fadeout 1.2s;
              animation: info_fadeout 1.2s;
      -webkit-animation-iteration-count: 1;
         -moz-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
         -moz-animation-fill-mode: both;
              animation-fill-mode: both; }
    .main_wrap .info_wrap .info.info_opened .val {
      -webkit-animation: info_fadein 1.2s;
         -moz-animation: info_fadein 1.2s;
              animation: info_fadein 1.2s;
      -webkit-animation-iteration-count: 1;
         -moz-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
         -moz-animation-fill-mode: both;
              animation-fill-mode: both; }
    .main_wrap .info_wrap .info:after {
      content: '';
      display: block;
      clear: both; }

.main_wrap .introduce_list {
  padding: 20px 18px;
  text-align: center; }
  .main_wrap .introduce_list .list_item .item_tit {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: #a3cca3; }
  .main_wrap .introduce_list .list_item .item_description {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #666; }
  .main_wrap .introduce_list .list_item + .list_item {
    margin-top: 10px; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes info_fadeout {
  0% {
    margin-left: 5px;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    margin-left: -25px;
    opacity: 0; } }

@-moz-keyframes info_fadeout {
  0% {
    margin-left: 5px;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    margin-left: -25px;
    opacity: 0; } }

@keyframes info_fadeout {
  0% {
    margin-left: 5px;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    margin-left: -25px;
    opacity: 0; } }

@-webkit-keyframes info_fadein {
  0% {
    margin-left: -25px;
    color: transparent;
    opacity: 0; }
  50% {
    color: transparent;
    opacity: 1; }
  100% {
    margin-left: 5px;
    color: #a3cca3;
    opacity: 1; } }

@-moz-keyframes info_fadein {
  0% {
    margin-left: -25px;
    color: transparent;
    opacity: 0; }
  50% {
    color: transparent;
    opacity: 1; }
  100% {
    margin-left: 5px;
    color: #a3cca3;
    opacity: 1; } }

@keyframes info_fadein {
  0% {
    margin-left: -25px;
    color: transparent;
    opacity: 0; }
  50% {
    color: transparent;
    opacity: 1; }
  100% {
    margin-left: 5px;
    color: #a3cca3;
    opacity: 1; } }
