html {
  font-size: 10px;
  line-height: 10px; }

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }

i {
  font-style: inherit; }

button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: DoHyeon;
  src: url("../../fonts/Do_Hyeon/DoHyeon-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Jua;
  src: url("../../fonts/Jua/Jua-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Noto-sans-kr;
  src: url("../../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf") format("opentype"); }

.arca {
  position: relative;
  background-color: #77be75; }
  .arca .blind_tit {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    white-space: nowrap;
    overflow: hidden; }

.arca .nav_wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100px;
  -webkit-border-top-right-radius: 25px;
     -moz-border-radius-topright: 25px;
          border-top-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
     -moz-border-radius-topleft: 25px;
          border-top-left-radius: 25px;
  height: 100px;
  z-index: 100;
  background-color: #e4eee9;
  -webkit-transition: bottom 0.5s ease-out;
  -moz-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out; }
  .arca .nav_wrap.is_opened {
    bottom: 0; }
    .arca .nav_wrap.is_opened + .dimmed_layer {
      display: block; }
    .arca .nav_wrap.is_opened .nav_btn.is_expanded .btn_txt {
      margin-top: 0;
      font-size: 1.8rem;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
  .arca .nav_wrap .nav_btn {
    position: absolute;
    left: 50%;
    top: -9px;
    bottom: 0;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80px;
    border: 0;
    -webkit-border-radius: 8px 8px 0 0;
       -moz-border-radius: 8px 8px 0 0;
            border-radius: 8px 8px 0 0;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 3px 1px #d3d3d3;
       -moz-box-shadow: 0 0 3px 1px #d3d3d3;
            box-shadow: 0 0 3px 1px #d3d3d3;
    -webkit-transition: top 0.8s ease-in-out;
    -moz-transition: top 0.8s ease-in-out;
    transition: top 0.8s ease-in-out;
    z-index: 200; }
    @media (max-width: 319px) {
      .arca .nav_wrap .nav_btn {
        width: 60px; } }
    .arca .nav_wrap .nav_btn .btn_txt {
      font-size: 1rem;
      line-height: 12px;
      font-weight: 400;
      color: #f1f1f1;
      font-family: DoHyeon, Noto-sans-kr, sans-serif;
      word-wrap: break-word;
      position: relative; }
    .arca .nav_wrap .nav_btn:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      background-color: #609c7f;
      -webkit-border-radius: 8px 8px 0 0;
         -moz-border-radius: 8px 8px 0 0;
              border-radius: 8px 8px 0 0;
      -webkit-transition: all 0.7s ease-out;
      -moz-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out; }
    .arca .nav_wrap .nav_btn.is_expanded {
      color: #fff;
      top: -19px;
      z-index: 220; }
      .arca .nav_wrap .nav_btn.is_expanded .btn_txt {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: -47px; }
      .arca .nav_wrap .nav_btn.is_expanded:before {
        height: 100%; }
      .arca .nav_wrap .nav_btn.is_expanded:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 7px;
           -moz-border-radius: 7px;
                border-radius: 7px; }
  .arca .nav_wrap .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 0;
    -webkit-border-top-right-radius: 20px;
       -moz-border-radius-topright: 20px;
            border-top-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
       -moz-border-radius-topleft: 20px;
            border-top-left-radius: 20px;
    background-color: #fff; }
  .arca .nav_wrap .profile_area {
    position: absolute;
    left: 50%;
    top: 5px;
    bottom: 0;
    width: 80px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 210; }
    .arca .nav_wrap .profile_area .thumb_wrap {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 5px 5px 5px 25px; }
      .arca .nav_wrap .profile_area .thumb_wrap:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.3); }
    .arca .nav_wrap .profile_area .thumb {
      background-color: blue;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%; }
    .arca .nav_wrap .profile_area .profile_info {
      padding: 5px 0;
      overflow: hidden;
      text-align: center;
      color: #333;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .arca .nav_wrap .profile_area .profile_info span {
        font-size: 1.1rem;
        line-height: 15px; }
        .arca .nav_wrap .profile_area .profile_info span:first-child {
          line-height: 20px;
          font-size: 1.6rem; }
      .arca .nav_wrap .profile_area .profile_info .sign_txt {
        display: inline-block;
        vertical-align: top;
        margin: 0 auto; }
  .arca .nav_wrap .main_tab_list {
    position: absolute;
    bottom: 0;
    width: 50%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    font-size: 0;
    overflow: hidden; }
    .arca .nav_wrap .main_tab_list.left {
      left: 5px;
      padding-right: 40px; }
      @media (max-width: 319px) {
        .arca .nav_wrap .main_tab_list.left {
          padding-right: 30px; } }
      .arca .nav_wrap .main_tab_list.left .tab_item:first-child {
        -webkit-border-top-left-radius: 20px;
           -moz-border-radius-topleft: 20px;
                border-top-left-radius: 20px; }
    .arca .nav_wrap .main_tab_list.right {
      right: 5px;
      padding-left: 40px; }
      @media (max-width: 319px) {
        .arca .nav_wrap .main_tab_list.right {
          padding-left: 30px; } }
    .arca .nav_wrap .main_tab_list .tab_item {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      height: 100%;
      text-align: center;
      font-size: 1.6rem;
      margin: 5px 0 0 0;
      padding-top: 20px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box; }
      .arca .nav_wrap .main_tab_list .tab_item[id=arca_tab] {
        background-color: red; }
      .arca .nav_wrap .main_tab_list .tab_item[id=kow_tab] {
        background-color: blue; }
      .arca .nav_wrap .main_tab_list .tab_item[id=mff_tab] {
        background-color: yellow; }
    .arca .nav_wrap .main_tab_list .tab_img {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: black; }
      @media (max-width: 319px) {
        .arca .nav_wrap .main_tab_list .tab_img {
          width: 20px;
          height: 20px; } }
  .arca .nav_wrap .pop_btn_area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    font-size: 0; }
    .arca .nav_wrap .pop_btn_area .left_area {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding-right: 40px; }
      @media (max-width: 319px) {
        .arca .nav_wrap .pop_btn_area .left_area {
          padding-right: 30px; } }
    .arca .nav_wrap .pop_btn_area .right_area {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 40px; }
      @media (max-width: 319px) {
        .arca .nav_wrap .pop_btn_area .right_area {
          padding-left: 30px; } }
    .arca .nav_wrap .pop_btn_area .btn_area {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      height: 100%; }
      .arca .nav_wrap .pop_btn_area .btn_area .pop_btn {
        position: absolute;
        bottom: -40px;
        left: 50%;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        border: 1px solid rgba(255, 255, 255, 0.3); }
        .arca .nav_wrap .pop_btn_area .btn_area .pop_btn:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
                  border-radius: 50%; }
      .arca .nav_wrap .pop_btn_area .btn_area .tab_img {
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%; }

@-webkit-keyframes menu_btn_pop_up {
  0% {
    bottom: -40px; }
  100% {
    bottom: 49px; } }

@-moz-keyframes menu_btn_pop_up {
  0% {
    bottom: -40px; }
  100% {
    bottom: 49px; } }

@keyframes menu_btn_pop_up {
  0% {
    bottom: -40px; }
  100% {
    bottom: 49px; } }

@-webkit-keyframes menu_btn_pop_down {
  0% {
    bottom: 49px; }
  100% {
    bottom: -40px; } }

@-moz-keyframes menu_btn_pop_down {
  0% {
    bottom: 49px; }
  100% {
    bottom: -40px; } }

@keyframes menu_btn_pop_down {
  0% {
    bottom: 49px; }
  100% {
    bottom: -40px; } }

.main_wrap .alliance_name {
  font-size: 2rem;
  line-height: 4.8rem;
  font-weight: 500;
  color: #6c8057;
  text-align: center; }

.main_wrap .content_bx {
  position: relative;
  margin-top: 3px;
  background-color: #fff; }
  .main_wrap .content_bx:first-child {
    margin-top: 0; }

.main_wrap .info_wrap {
  padding: 0 10px; }
  .main_wrap .info_wrap .info_flick {
    margin: 0 -10px;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    line-height: 3rem; }
    .main_wrap .info_wrap .info_flick::-webkit-scrollbar {
      width: 0px; }
  .main_wrap .info_wrap .info {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: 400;
    color: #a3cca3;
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px;
    background-color: #d8f7dd;
    -webkit-animation: fadein 1s linear;
       -moz-animation: fadein 1s linear;
            animation: fadein 1s linear;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
            animation-fill-mode: both; }
    .main_wrap .info_wrap .info + .info {
      margin-left: 10px; }
    .main_wrap .info_wrap .info:first-child {
      margin-left: 10px; }
    .main_wrap .info_wrap .info:last-child {
      margin-right: 10px; }
    .main_wrap .info_wrap .info .info_label {
      float: left;
      padding: 0 10px;
      color: #f7faf4;
      background-color: #a3cca3;
      -webkit-border-radius: 16px;
         -moz-border-radius: 16px;
              border-radius: 16px; }
    .main_wrap .info_wrap .info .val {
      margin-left: 5px;
      padding-right: 10px; }
    .main_wrap .info_wrap .info.info_hidden .val {
      -webkit-animation: info_fadeout 1.2s;
         -moz-animation: info_fadeout 1.2s;
              animation: info_fadeout 1.2s;
      -webkit-animation-iteration-count: 1;
         -moz-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
         -moz-animation-fill-mode: both;
              animation-fill-mode: both; }
    .main_wrap .info_wrap .info.info_opened .val {
      -webkit-animation: info_fadein 1.2s;
         -moz-animation: info_fadein 1.2s;
              animation: info_fadein 1.2s;
      -webkit-animation-iteration-count: 1;
         -moz-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
         -moz-animation-fill-mode: both;
              animation-fill-mode: both; }
    .main_wrap .info_wrap .info:after {
      content: '';
      display: block;
      clear: both; }

.main_wrap .introduce_list {
  padding: 20px 18px;
  text-align: center; }
  .main_wrap .introduce_list .list_item .item_tit {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: #a3cca3; }
  .main_wrap .introduce_list .list_item .item_description {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #666; }
  .main_wrap .introduce_list .list_item + .list_item {
    margin-top: 10px; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes info_fadeout {
  0% {
    margin-left: 5px;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    margin-left: -25px;
    opacity: 0; } }

@-moz-keyframes info_fadeout {
  0% {
    margin-left: 5px;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    margin-left: -25px;
    opacity: 0; } }

@keyframes info_fadeout {
  0% {
    margin-left: 5px;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    margin-left: -25px;
    opacity: 0; } }

@-webkit-keyframes info_fadein {
  0% {
    margin-left: -25px;
    color: transparent;
    opacity: 0; }
  50% {
    color: transparent;
    opacity: 1; }
  100% {
    margin-left: 5px;
    color: #a3cca3;
    opacity: 1; } }

@-moz-keyframes info_fadein {
  0% {
    margin-left: -25px;
    color: transparent;
    opacity: 0; }
  50% {
    color: transparent;
    opacity: 1; }
  100% {
    margin-left: 5px;
    color: #a3cca3;
    opacity: 1; } }

@keyframes info_fadein {
  0% {
    margin-left: -25px;
    color: transparent;
    opacity: 0; }
  50% {
    color: transparent;
    opacity: 1; }
  100% {
    margin-left: 5px;
    color: #a3cca3;
    opacity: 1; } }
