@charset "UTF-8";

@import './common/mixins';
@import './common/variables';
@import './common/reset.scss';
@import './common/fonts';

.arca {
    position: relative;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: notosanskr;

    .blind {
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        white-space: nowrap;
        overflow: hidden;
    }

}

@import './import/import_header';
@import './import/import_nav';
@import './import/import_main';
@import './import/import_footer';



