@charset "UTF-8";

@import './common/mixins';
@import './common/variables';
@import './common/reset.scss';
@import './common/fonts';

.arca {
    position: relative;
    background-color: #77be75;

    .blind_tit {
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        white-space: nowrap;
        overflow: hidden;
    }

    .sign_wrap {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 2s linear;

        &.is_shown {
            display: block;
            opacity: 1;
            z-index: 1000;
        }
        
        .dimmed_layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, 0.7);
        }

        .form_wrap {
            position: relative;
            top: 50%;
            width: 80%;
            height: 160px;
            overflow-y:auto;
            margin: 0 auto;
            transform: translateY(-50%);
            background-color: transparent;
            z-index: 1010;
            border-radius: 20px;
            padding-top: 30px;
        }

        .form_inner {
            padding: 0 30px;
        }

        .btn_area {
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            background-color: #fff;

            .signin_btn {
                float: left;
                width: 33.33%;
                height: 100%;
                background-color: #c2e8ce;
            }

            .signup_btn {
                float: left;
                width: 33.33%;
                height: 100%;
                background-color: #77be75;
            }

            .cancle_btn {
                display: block;
                width: 33.33%;
                height: 100%;
                overflow: hidden;
                background-color: #fa697c;
            }

            &:after {
                @include clear;
            }
        }

        .form_list {
            width: 100%;
            height: 100px;
            background-color: white;
        }
    }

    @keyframes gradient_fluid {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@import './import/import_header';
@import './import/import_nav';
@import './import/import_main';
@import './import/import_footer';



