@charset "UTF-8";

@import './common/mixins';
@import './common/variables';
@import './common/reset.scss';
@import './common/fonts';

.arca {
    position: relative;
    background-color: #77be75;

    .blind_tit {
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        white-space: nowrap;
        overflow: hidden;
    }

    .sign_wrap {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 2s linear;

        &.is_shown {
            display: block;
            opacity: 1;
            z-index: 1000;
        }
        
        .dimmed_layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, 0.7);
        }

        .form_wrap {
            position: relative;
            top: 50%;
            width: 80%;
            height: 160px;
            overflow-y:auto;
            margin: 0 auto;
            transform: translateY(-50%);
            background-color: #fff;
            z-index: 1010;
            border-radius: 20px;
            padding-top: 30px;
        }

        .form_inner {
            padding: 0 30px;
        }

        .btn_area {
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            background-color: #fff;
        }

        .form_item {
            & + .form_item {
                margin-top: 50px;
            }

            &:after {
                @include clear;
            }

            .notice_wrap {
                float: right;
            }

            .label {
                display: block;
                overflow: hidden;
                line-height: 20px;
                font-size: 1.6rem;
            }

            .input_box {
                width: 100%;
                margin-top: 3px;
                border-color: #000;
                border-style: solid;
                border-width: 0 0 1px;
                box-sizing: border-box;
                padding: 5px;
            }
        }
    }

    @keyframes gradient_fluid {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@import './import/import_header';
@import './import/import_nav';
@import './import/import_main';
@import './import/import_footer';



