@charset 'UTF-8';

// 폰트 적용
@font-face {
    font-family: DoHyeon;
    src: url('../../fonts/Do_Hyeon/DoHyeon-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Jua;
    src: url('../../fonts/Jua/Jua-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Noto-sans-kr;
    src: url('../../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}