// $main-color: #5c8d89;
// $sub-color: #74b49b;
// $border-color: #a7d7c5;
// $font-color: #f4f9f4;
$main-color: #a3cca3;
$sub-color: #b5d692;
$border-color: #fff;
$font-color: #f7faf4;
$header-color: #6c8057;
$font-family: 'jua', sans-serif;