@charset "UTF-8";

.arca {
    .header_wrap {
        position: relative;
        top: 0;
        padding-top: calc(constant(safe-area-inset-top)-50px);
        padding-top: calc(env(safe-area-inset-top)-50px);
        left: 0;
        right: 0;
        transition: 1s top ease-in;
        z-index: 10;

        &[aria-expanded="true"] {
            top: 0;
            .menu {
                height: 82px;
            }
            .menu_btn {
                color: transparent;
                height: 10px;
            }

            .profile_area {
                opacity: 0;
            }

            & + .main_wrap {
                padding-top: 0;
            }
        }

        .menu {
            height: 0;
            background-color: #fff;
            transition: 0.8s height ease-in;
            z-index: 9;
        }

        .menu_btn {
            position: relative;
            display: block;
            color: #242424;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            height: 30px;
            background-color: #eee;
            box-shadow: 0 0 4px 2px #ddd;
            transition: 0.8s height ease-in;
            z-index: 9;
        }
        
        .profile_area {
            position: fixed;
            top: 32px;
            left: 0;
            right: 0;
            opacity: 1;
            transition: 0.8s opacity ease-in;
            transition-delay: 0.2s;
            z-index: 5;

            .thumb_wrap {
                margin: 12px;
                position: relative;
                float: left;
                border-radius: 50%;

                &:after {
                    content: '';
                    @include mask;
                    border: 1px solid rgba(0,0,0, 0.4);
                    border-radius: 50%;
                    background-color: rgba(0,0,0, 0.1);
                }
            }

            .info_area {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-top: 5px;
                line-height: 20px;
            }

            .sign_out {
                float: right;
                color: #222;
                font-family: Dohyeon;
                line-height: 28px;
                font-size: 1.4rem;
                font-weight: bold;
                margin-right: 5px;
            }

            .sticker_area {
                overflow: auto;
                white-space: nowrap;
                background-color: #ccc;
                margin: 3px 0 2px;
                line-height: 30px;
                border-radius: 2px;

                .sticker {
                    display: inline-block;
                }
            }

            &:after {
                @include clear;
            }
        }
    }
}