.arca {
    .nav_wrap {
        position: fixed;
        left: 0;
        right: 0;
        bottom: -150px;
        height: 150px;
        z-index: 100;
        transition: bottom 0.5s ease-out;

        &.is_opened {
            bottom: 0;

            & + .dimmed_layer {
                display: block;
            }

            .nav_btn.is_expanded {
                .btn_txt {
                    margin-top: 0;
                    font-size: 1.8rem;
                    transition: all 0.8s ease-in-out;
                }
            }

            .side_menu_area {
                .profile_addon {
                    width: 140px;
                }
            }
        }

        .nav_btn {
            position: absolute;
            left: 50%;
            top: -9px;
            bottom: 0;
            transform: translateX(-50%);
            width: 60px;
            border: 0;
            border-radius: 8px 8px 0 0;
            background-color: #f1f1f1;
            box-shadow: 0 0 3px 1px #d3d3d3;
            transition: top 0.8s ease-in-out;
            z-index: 200;

            @include galfol {
                width: 60px;
            }
    
            .btn_txt {
                @include font(1rem, 12px, 400, #f1f1f1);
                font-family: DoHyeon, Noto-sans-kr, sans-serif;
                word-wrap: break-word;
                position: relative;
            }
    
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                background-color: #609c7f;
                border-radius: 8px 8px 0 0;
                transition: all 0.7s ease-out;
            }
    
            &.is_expanded {
                color: #fff;
                top: -19px;
                z-index: 220;

                .btn_txt {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: -73px;
                }
                &:before {
                    height: 100%;
                }
                &:after {
                    content: '';
                    @include mask;
                    border: 1px solid rgba(#000, 0.1);
                    border-radius: 7px;
                }
            }
        }

        .pop_btn_area {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            height: 80px;
            font-size: 0;

            .left_area {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                box-sizing: border-box;
                padding-right: 40px;

                @include galfol {
                    padding-right: 35px;
                }
            }

            .right_area {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50%;
                box-sizing: border-box;
                padding-left: 40px;

                @include galfol {
                    padding-left: 35px;
                }
            }

            .btn_area {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 50%;
                height: 100%;

                .pop_btn {
                    position: absolute;
                    bottom: -40px;
                    left: 50%;
                    width: 35px;
                    height: 35px;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    text-align: center;

                    &:after {
                        content: '';
                        @include mask;
                        box-sizing: border-box;
                        border: 1px solid rgba(0,0,0, 0.2);
                        border-radius: 50%;
                    }


                    @include galfol {
                        width: 20px;
                        height: 20px;
                    }
                    
                    &[id=setting_btn] {
                        background-color: #fff;

                        .tab_img {
                            fill: #808080;
                        }
                    }
                }

                .tab_img {
                    border-radius: 50%;
                }
            }
        }

        .side_menu_area {
            position: absolute;
            bottom: 0;
            height: 150px;
            width: 50%;

            &.left {
                right: 50%;
            }

            &.right {
                left: 50%;
            }

            .item {
                position: relative;
                height: 41px;

                & + .item {
                    margin-top: 9px;
                }

                &:after {
                    @include clear;
                }
            }

            .profile_link {
                position: relative;
                float: right;
                height: 100%;
                border-radius: 30px 0 0 30px;
                background-color: red;
                z-index: 199;

                &.img {
                    width: 71px;
                }

                &.userid {
                    width: 100px;
                    padding: 0 30px 0 10px;
                }
                
                .profile_img {
                    margin: 6px 0 0 6px;
                }

                .profile_id {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 42px;
                }
            }

            .profile_addon {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 30px;
                background-color: yellow;
                border-radius: 30px;
                transition: width 1.5s ease-in;
                transition-delay: 0.35s;
                z-index: 195;

                .user_label {
                    display: block;
                    padding-left: 30px;
                    line-height: 42px;
                }
            }
        }
    }
}

@keyframes menu_btn_pop_up {
    0% {
        bottom: -40px;
    }

    100% {
        bottom: 49px;
    }
}

@keyframes menu_btn_pop_down {
    0% {
        bottom: 49px;
    }

    100% {
        bottom: -40px;
    }
}