.arca {
    .nav_wrap {
        position: fixed;
        top: -190px;
        left: 0px;
        right: 0px;
        background-color: #fff;

        &.ani_on {
            animation: 0.6s nav_contract_ani forwards ease-in-out;
        }

        &[aria-expanded=true] {
            animation: 0.6s nav_expand_ani forwards ease-in-out;
        }

        .menu_list {
            .item {
                display: block;

                & > a {
                    position: relative;
                    display: block;
                    padding-top: 20px;
                    border-radius: 0 0 20px 20px;   

                    &:after {
                        @include clear;
                    }

                    &[id=arca_tab] {
                        background-color: #f5f9f5;
                        z-index: 15;
                    }
    
                    &[id=kow_tab] {
                        background-color: #e3efe3;
                        top: -20px;
                        z-index: 14;
                    }
    
                    &[id=mff_tab] {
                        background-color: #d1e5d1;
                        top: -40px;
                        z-index: 13;
                    }
    
                    &[id=setting_tab] {
                        background-color: #bedbbe;
                        top: -60px;
                        z-index: 12;
                    }
                }

                &:first-child > a {
                    padding-top: 0;
                }

                .thumb {
                    position: relative;
                    float: left;
                    margin: 7px;
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;

                    &:after {
                        content: '';
                        @include mask;
                        border-radius: 50%;
                        border: 1px solid rgba(0,0,0, 0.3);
                        background-color: rgba(#fff, 0.4);
                    }

                    img {
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .info_area {
                    overflow: hidden;
                    line-height: 50px;
                    font-family: Noto-sans-kr;
                }
            }
        }
    }
}

@keyframes nav_expand_ani {
    0% {
        top: -190px;
    }

    100% {
        top: 51px;
    }
}

@keyframes nav_contract_ani {
    0% {
        top: 51px;
    }

    100% {
        top: -190px;
    }
}