@charset "UTF-8";

.main_wrap {
    .alliance_name {
<<<<<<< HEAD
        @include font(2rem, 4.8rem, 500, $header_color);
        text-align: center;
    }

    .content_bx {
        position: relative;
        margin-top: 3px;
        background-color: #fff;

        &:first-child {
            margin-top: 0;
        }
    }

=======
        @include font(2rem, 4.8rem, 500, $main_color);
        text-align: center;
    }
>>>>>>> 9c846dc064f9b14dcdad30e41c61b1b378562b87
    .info_wrap {
        padding: 0 10px 10px;

        .info_flick {
            margin: 0 -10px;
            white-space: nowrap;
            overflow-x: auto;
            font-size: 0;
<<<<<<< HEAD
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                width: 0px;
            }
=======
>>>>>>> 9c846dc064f9b14dcdad30e41c61b1b378562b87
        }

        .info {
            display: inline-block;
            vertical-align: top;
            @include font(1.2rem, 3rem, 400, $main-color);
            border-radius: 16px;
<<<<<<< HEAD
            background-color: #d8f7dd;
            animation: fadein 1s linear;
            animation-iteration-count: 1;
            animation-fill-mode: both;
=======
            background-color: $font-color;
            -ms-overflow-style: none;
            ::-webkit-scrollbar {
                display: none;
            }
>>>>>>> 9c846dc064f9b14dcdad30e41c61b1b378562b87

            & + .info {
                margin-left: 10px;
            }

            &:first-child {
                margin-left: 10px;
            }

            &:last-child {
                margin-right: 10px;
            }

            .info_label {
                float: left;
                padding: 0 10px;
                color: $font-color;
                background-color: $main-color;
                border-radius: 16px;
            }

            .val {
                margin-left: 5px;
                padding-right: 10px;
            }

<<<<<<< HEAD
            &.info_hidden {
                .val {
                    animation: info_fadeout 1.2s;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                }
            }

            &.info_opened {
                .val {
                    animation: info_fadein 1.2s;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                }
            }

=======
>>>>>>> 9c846dc064f9b14dcdad30e41c61b1b378562b87
            &:after {
                @include clear;
            }
        }
    }
<<<<<<< HEAD

    .apply_wrap {
        background-color: $font-color;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes info_fadeout {
    0% {
        margin-left: 5px;
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        margin-left: -30px;
        opacity: 0;
    }
}

@keyframes info_fadein {
    0% {
        margin-left: -30px;
        color: transparent;
        opacity: 0;
    }
    50% {
        color: transparent;
        opacity: 1;
    }
    100% {
        margin-left: 5px;
        color: $main-color;
        opacity: 1;
    }
=======
>>>>>>> 9c846dc064f9b14dcdad30e41c61b1b378562b87
}